/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.theme-light .page {
  background-color: var(--bg-color);
}

:root.theme-light {
  --font-family: "IBM Plex Mono", Monospace;
  --h1-title-color: #ffc2e6;
  --title-text-color: #000028;
  --main-color-text: #353430;
  --primary-color: #ff8dcb;
  --decorated-color: #353430;
  --bg-color: #fff1f7;
  --page-background-image: url("../images/cover-image-light.png");
  --button-hover-color: #32312d66;
  --button-color: #353430;
}

.theme-light .rec-content {
  display: none;
}
